{
    "presets": [
        "es2015",
        "react",
        "flow"
    ],
    "plugins": [
        "transform-class-properties",
        "react-flow-props-to-prop-types",
        "transform-object-rest-spread",
        "transform-async-to-generator"
    ]
}
